*{
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    overflow-y: auto;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

img {
    margin: auto;
}